html{
    box-sizing:border-box;
    font-size:16px;
    max-width: 1000px;
}



ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



ul li{
   list-style: none;
}

ul li a{
   position: relative;
   font-size: 1em;
   text-decoration: none;
   display: inline-block;
   padding: 10px 20px;
   font-weight: 300;
   background: rgba(255, 255, 255, 0.05);
   box-shadow: 0 15px 35px rgba(0,0,0,0.2);
   border-top: 1px solid rgba(255, 255, 255, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   z-index: 1000;
   overflow:hidden;
}

ul li a:before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50%;
   background: rgba(255, 255, 255, 0.1);
}

ul li:first-child a{
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
}

ul li:nth-last-child(2) a{
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
}

#marker{
   position: absolute;
   top: 0;
   width: 61px;
   height: 41px;
   z-index: 1;
   transition:0.5s;
   align-items: center;
   filter: drop-shadow(0 0 20px hsl(150,100%,66%));
}


#marker::before{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 50px;
   height: 50px;
   border-radius: 50%;
   transition:0.5s;
   background:hsl(150,100%,66%);
   filter: drop-shadow(0 0 20px hsl(150,100%,66%));
}
ul li:nth-child(2):hover ~#marker::before{
    background:hsl(174, 76%, 60%);
    filter: drop-shadow(0 0 20px hsl(174, 76%, 60%));
 
}

ul li:nth-child(3):hover ~#marker::before{
    background:hsl(2, 66%, 56%);
    filter: drop-shadow(0 0 20px hsl(2, 66%, 56%));
 
}
ul li:nth-child(4):hover ~#marker::before{
    background:hsl(316, 61%, 61%);
    filter: drop-shadow(0 0 20px hsl(316, 61%, 61%));
 
}
ul li:nth-child(5):hover ~#marker::before{
    background:hsl(56, 97%, 61%);
    filter: drop-shadow(0 0 20px hsl(56, 97%, 61%));
 
}

ul li:nth-child(6):hover ~#marker::before{
    background:hsl(248, 57%, 61%);
    filter: drop-shadow(0 0 20px hsl(248, 57%, 61%));
 
}



.skilddd{
   width: 1000px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.skilddd .card2{
   position: relative;
   width: 250px;
   height: 300px;
   text-align: center;
   z-index: 10;
   margin: 20px 20px 60px;
}

.skilddd .card2 .box{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(255,255,255,0.05);
   box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(15px);
   border: 1px solid rgba(255,255,255,0.01);
   z-index: 10;
   border-radius: 10px;
}

.percent{
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   z-index: 100;
}

.percent .number{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.percent .number h2{
   color: #fff;
   font: 700;
   font-size: 50px;    
}
.percent .number h2 span{
   font-size: 24px;
}

.text{
   position: absolute;
   bottom: -42px;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   padding: 30px 20px 10px;
   background: #f00;
   border-radius: 10px;
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 1px;
   text-transform: uppercase;
   box-shadow: 0 15px 35px rgba(0,0,0,0.2);
   z-index: 1;
   pointer-events: none;
   transition: bottom 0.5s, z-index 0s, transform 0.5s,padding 0.5s;
   transition-delay: 0.5s,0.5s,0s,0.5s;
   color: #fff;
}

.card2:hover .text{
   transition-delay: 0,0.5s,0.5s,0s;
   bottom: -70px;
   z-index: 11;
   transform: translateX(50%) translateY(-50px);
   padding: 10px 20px 10px;
}
.card2:nth-child(1) .text{
   background: #ff0461;
}
.card2:nth-child(2) .text{
   background: #2f00ff;
}
.card2:nth-child(3) .text{
   background: #09ff00;
}
.card2:nth-child(4) .text{
   background: #00f7ff;
}
.card2:nth-child(5) .text{
   background: #ff0000;
}
.card2:nth-child(6) .text{
   background: #e100ff;
}

svg{
   position: relative;
   width: 150px;
   height: 150px;
}

svg circle{
   width: 100%;
   height: 100%;
   fill: none;
   stroke-width: 10;
   stroke: rgba(255, 255, 255, 0.5);
   transform: translate(5px, 5px);
   stroke-linecap: round;
}

svg circle:nth-child(2){
   stroke: rgba(255, 255, 255, 1);
   stroke-dasharray: 440px;
   stroke-dashoffset: 80px;
}


.card2:nth-child(1) svg circle:nth-child(2){
   stroke-dashoffset: calc(440px - (440px * 90)/ 100);
}

.card2:nth-child(2) svg circle:nth-child(2){
   stroke-dashoffset: calc(440px - (440px * 80)/ 100);
}

.card2:nth-child(3) svg circle:nth-child(2){
   stroke-dashoffset: calc(440px - (440px * 70)/ 100);
}

.card2:nth-child(4) svg circle:nth-child(2){
   stroke-dashoffset: calc(440px - (440px * 85)/ 100);
}

.card2:nth-child(5) svg circle:nth-child(2){
   stroke-dashoffset: calc(440px - (440px * 80)/ 100);
}
.card2:nth-child(6) svg circle:nth-child(2){
   stroke-dashoffset: calc(440px - (440px * 95)/ 100);
}




*, *:before, *:after{
    box-sizing:inherit;
    }

body, h1, h2, h3, h4, h5, p, ol, ul{
   margin: 0;
   padding: 0;
   font-weight:normal;
   max-width: 8000px;
}
#header .header{
   min-height:8vh;
   background-color: rgba(0,0,0,0.3);
   }
   
   #header .nav-bar{
     display:flex;
     align-items:center;
     justify-content:space-between;
     width:100%;
     height:100%;
     max-width:45%;
     padding:0 10px;
   }
body{
   background:rgb(53, 44, 44);
   height: 2000px;
}

ol,ul{
   list-style:none;
}

img{
   max-width: 100%;
   height: auto;
}

a:hover{
   text-decoration:none;
}

body{
   font-family:'Oswald',sans-serif;
   color:#0080ff;
   line-height: 1.5;
}
ul{
   margin:0;
   padding: 0;
}
.header{
   position: relative;
   transition: all 0.7s;
   z-index:9;
}

.header .logo{
   margin:0;
   padding:16px 0;
}
.header .logo a,
.header .logo a img{
   display:block;
}

.header .logo img{
   width: 100px;
   height: 100px;
}
.header .menu ul{
   display:flex;
}

.header .menu li{
   padding: 16px;
}

.header .menu a{
   font-size: 1.2rem;
   color:white;
   padding: 8px;
   display:block;
   text-transform: uppercase;
}

.header .menu a:hover{
   color: #24cdd5;
}

.header .sidemenu-toggler{
   position:absolute;
   width: 40px;
   padding:6px;
   top: 23px;
   right: 40px;
}

.header .sidemenu-toggler > span{
   display:block;
   background-color:white;
   height: 2px;
}
.header .sidemenu-toggler > span:nth-child(2){
  margin: 4px 0 4px auto;
  width:75%;
  transition:0.3s all;
}
.header .sidemenu-toggler > span:nth-child(3){
margin-left:auto;
width:50%;
transition:0.6s all;
}

.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3){
width:100%;
}

.header .sidemenu{
   position: fixed;
   top:0;
   right:0;
   background-color:#3bb78f;
   background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
   width:40%;
   height: 100vh;
   z-index:999;
   padding: 4rem;
   color: white;
   transform: translate3d(100%, 0, 0);
   transition: transform 0.5s ease-in-out;
   overflow: hidden;
}

.header .sidemenu.active{
   transform: translate3d(0,0,0 );
}

.header .sidemenu .close{
   height: 30px;
   width:30px;
   display:block;
   position:absolute;
   right:20px;
   top:24px
}

.header .sidemenu .close::before,
.header .sidemenu .close::after{
   content:"";
   position:absolute;
   top:0;
   left:13px;
   height:28px;
   width: 2px;
   background:white;
}

.header .sidemenu .close::before{
   transform:rotate(45deg);
}
.header .sidemenu .close::after{
   transform:rotate(-45deg);

}

.header .sidemenu nav ul{
   padding-top:30px;
}
.header .sidemenu nav li{
   padding-top:15px, 0;
}

.header .sidemenu nav a{
   font-size:1.3rem;
   color:white;
   text-transform:uppercase;
}

.header .sidemenu footer{
  padding-top: 100px;
  font-size:0.9em;
   text-transform:uppercase;
}

.header .sidemenu footer .social{
   display:flex;
   align-items:center;
   margin-bottom: 12 px;
}

.header .sidemenu footer .social a{
   display:flex;
   width:30px;
   height:30px;
   border-radius: 50%;
   transition:all 0.3s linear;
   margin-right: 5px;
   text-transform:uppercase;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

nav{
   width: 100%;
   height: 100%;
   border-radius: 8px;
   font-size: 0;
   box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
   font-size: 15px;
   text-transform: uppercase;
   color: white;
   text-decoration: none;
   line-height: 50px;
   position: relative;
   z-index: 1;
   display: inline-block;
   text-align: center;
}
nav .animation{
   position: absolute;
   height: 100%;
   /* height: 5px; */
   top: 0;
   /* bottom: 0; */
   z-index: 0;
   background: #0bceaf;
   border-radius: 8px;
   transition: all .5s ease 0s;
}
nav a:nth-child(1){
   width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
   width: 100px;
   left: 0;
}
nav a:nth-child(2){
   width: 110px;
}
nav a:nth-child(2):hover~.animation{
   width: 110px;
   left: 100px;
}
nav a:nth-child(3){
   width: 100px;
}
nav a:nth-child(3):hover~.animation{
   width: 100px;
   left: 210px;
}
nav a:nth-child(4){
   width: 160px;
}
nav a:nth-child(4):hover~.animation{
   width: 160px;
   left: 310px;
}
nav a:nth-child(5){
   width: 120px;
}
nav a:nth-child(5):hover~.animation{
   width: 120px;
   left: 470px;
}

.header.sticky{
   width: 100%;
   position:fixed;
   background-color: #212529;
   box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
}

.header .wrap{
   width: 1140px;
   max-width: 100%;
   margin: auto;
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
}







.hero-text{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.title{
   background-color: #0bceaf;
   font-size: 20px;
   line-height: 24px;
   padding: 10px 30px;
   border-bottom-left-radius: 0px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}

.name{
   font-size:80px;
   letter-spacing: -1px;
}

.designation{
   font-size:30px;
}

.email{
   margin-top: 40px !important;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size:15px;

}

.social-icons li{
   list-style: none;
   margin-right: 30px;
   margin-top: 40px;
   font-size: 25px;
   cursor:pointer
}

.hero-img{
   margin-left: 140px;
   margin-top: -40px;
}

.hero-img img{
   margin: 0 auto;
   float:none;
   text-align: center;

}




::-webkit-scrollbar{
   width: 10px;
}

::-webkit-scrollbar-track{
   width: 10px;
   background: #212529;
   border-left: 0 solid white;
   border-right: 0 solid white;
}

::-webkit-scrollbar-thumb{
   background: #3bb78f;
   width: 0;
   height:35%;
   transition: 0.5 ease;
   cursor: pointer;
}

.glow{
border-radius: 20%;
-moz-box-shadow: 0 0 20px #fff;
-webkit-box-shadow: 0 0 20px #fff;
box-shadow: 0 0 20px #fff;
}

.about{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gap{
   margin-left: 90px;
}

.tag ul li{
   margin: 0px 6px;
   border-radius:4px;
   margin-bottom: 10px;
   padding: 4px 0px;
   display: inline-block;
}


.tag ul li span{
   border: 1px solid #0bceaf;
   padding: 4px 10px;
   border-radius: 4px;
}

.tag ul li span:hover{
background-color: transparent !important;
}

.btn-danger{
   background-color: #24cdd5;
   color: white;
   padding:14px 20px;
   border: none;
   border-radius: 50px;
}

.mh-service .mh-service-item{
   padding: 20px;
   border-radius: 4px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mh-service .mh-service-item .fa{
   font-size: 30px;
   margin-bottom: 20px;
   margin-top: 16px;
}

.mh-service .mh-service-item .fa.purple-color{
   color: #9774fa;
}


.mh-service .mh-service-item .fa.iron-color{
   color: #ed7256;
}


.mh-service .mh-service-item .fa.sky-color{
   color: #2796e2;
}


h3{
   color: white;}
.section-title h3{
   color: white;
   font-family: 'Times New Roman', Times, serif;
}

.portfolio-nav{
   margin: 0 auto;
   margin-bottom: 40px;
   text-align: center;
   margin-bottom: 50px;

}

.portfolio-nav ul{
   margin: 0 auto;
   float: none;
   text-align: center;
}

.portfolio-nav ul li{
   display: inline-block;
   margin: 0 10px;
   cursor: pointer;
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.portfolio-nav ul li:hover{
   color: #0bceaf;
}

.portfolio-nav ul li.active{
   color: #0bceaf;
}

.portfolio-nav ul li span{
   padding: 15px 0;
   border-bottom: 2px solid transparent;
}

.portfolio-nav ul li.current span{
   border-bottom: 2px solid #0bceaf;
}

.grid-item figure{
   position: relative;
   overflow: hidden;
   border-radius: 10px;
}

.grid-item figure img{
   position: relative;
   width: 100%;
   display: block; 
}
.grid-item figure figcaption{
 position:absolute;
 padding: 15px;
 height:100%;
 width:100%;  
 top: auto;
 left:0;
 color: white;
 bottom: 0;
 z-index: 10;
 transition: 0.5s;
 font-family: 'Times New Roman', Times, serif;
}

.grid-item figure figcaption:after{
   content: " ";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   transition: all 0.4s ease-out;   
   transform: translateX(0) translateY(0) rotateZ(0) rotate(0deg) scale(0.95);
   z-index: -1;
   opacity: 0;
}

.grid-item figure figcaption .fa{
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0; 
  top: 45%;
  margin-top: -22px;
  transform: translateX(0px) translateY(0) rotateZ(0) rotate(0deg) scale(1);
  opacity: 0;
  letter-spacing: 0px;
}

figcaption .title{
   margin: 0;
   padding: 0;
   position: absolute;
   text-align: center;
   width: 100%;
   left: 0;
   right: 0;
   font-size: 18px;
   line-height: 30px;
   text-transform: capitalize;
   top: 50%;
   margin-top: 30px;
   transform: translateX(80px) translateY(0) rotateZ(0) rotate(0deg) scale(1);
   transition: all 0.4s ease-out;
   opacity: 0;
   letter-spacing: 0px;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

.wrapper{
   width: 80%;
   padding: 30px 0;
   text-align: center;
}
.section-header{
   text-transform: uppercase;
   line-height: 70px;
   padding-bottom: 30px;
   font-size: 50px;
   color: #262626;
   letter-spacing: 2px;
   
}
.content {
 padding: 10%;
}
.content h2 {
 font-size: 30px;
 text-transform: uppercase;
 margin-bottom: 15px;
}
.content p {
 line-height: 1.5;
}
.main-content{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-main-content-gap: 25px;
   grid-column-gap: 15px;
}
.main-content .box{
   position: relative;
   cursor: pointer;
   margin-bottom: 15px;
   box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
   height: 250px;
   overflow: hidden;    
}
.main-content .box::before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 5px;
   height: 100%;
   transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
   top: 0;
   right: calc(100% - 5px);
   z-index: 10;
}
.main-content .box img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.main-content .box .img-text {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #0bceaf;
   width: 100%;
   height: 100%;
   top: 0;
   right: 100%;
   transition: all 0.5s ease-in-out;
   border-bottom-left-radius: 0px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;	
}

.main-content .box:hover .img-text{
   top: 0;
   right: 0;
}

body, input,textarea, a{
   font-family: 'Roboto', sans-serif;
}
#section-wrapper{
   width: 100%;
   padding: 10px;
}
.box-wrapper{
   position: relative;
   display: table;
   width:1100px;
   margin:auto;
   margin-top:35px;
   border-radius: 30px;
}
.info-title{
   text-align: left;
   font-size: 28px;
   letter-spacing: 0.5px;
}
.info-sub-title{
   font-size: 18px;
   font-weight: 300;
   margin-top: 17px;
   letter-spacing: 0.5px;
   line-height: 26px;
}
.info-details {
   list-style: none;
   margin: px 0px;
}
.info-details li {
   margin-top: 25px;
   font-size: 18px;
   color: #fff;
}
.info-details li i {
   background: #F44770;
   padding: 12px;
   border-radius: 50%;
   margin-right: 5px;
}
.info-details li a {
   color: #fff;
   text-decoration: none;
}
.info-details li a:hover {
   color: #F44770;
}
.social-icons {
   list-style: none;
   text-align: center;
   margin: 20px 0px;
}
.social-icons li {
   display: inline-block;
}
.social-icons li i {
   background: #F44770;
   color: #fff;
   padding: 15px;
   font-size: 20px;
   border-radius: 22%;
   margin: 0px 5px;
   cursor: pointer;
   transition: all .5s;
}
.social-icons li i:hover {
   background: #fff;
   color: #000000;
}
.form-wrap{
   width:65%;
   float: right;
   padding:40px 25px 35px 25px;
   border-radius: 0px 30px 30px 0px;
   background: #ecf0f3;
}
.form-title{
   text-align: left;
   margin-left: 23px;
   font-size: 28px;
   letter-spacing: 0.5px;
}
.form-fields{
   display: table;
   width: 100%;
   padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
   border: none;
   outline:none;
   background: none;
   font-size: 18px;
   color:#555;
   padding: 20px 10px 20px 5px;
   width:100%
}
.form-fields textarea{
   height: 150px;
   resize: none;
}
.form-group{
   width: 46%;
   float: left;
   padding: 0px 30px;
   margin: 14px 12px;
   border-radius: 25px;

}
.form-fields .form-group:last-child {
   width: 96%;
}
.submit-button{
   width: 96%;
   height: 60px;
   margin: 0px 12px;
   border-radius: 30px;
   font-size: 20px;;
   font-weight: 700;
   outline: none;
   border:none;
   cursor: pointer;
   color:#fff;
   text-align: center;
   background: #00eeff;
   box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
   transition: .5s;
}
.submit-button:hover{
   background: #04e4d9;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
   .box-wrapper{
       width: 100%;
   }
   .info-wrap,
   .form-wrap{
       width: 100%;
       height: inherit;
       float: none;  
   }
   .info-wrap{
       border-radius: 30px 30px 0px 0px;
   }
   .form-wrap{
       border-radius: 0px 0px 30px 30px;
   }
   .form-group{
       width: 100%;
       float: none;
       margin: 25px 0px;
   }
   .form-fields .form-group:last-child, 
   .submit-button{
       width: 100%;
   }
   .submit-button{
       margin: 10px 0px;
   }
  
}